<html>
<head>
	<script src="https://d3js.org/d3.v5.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body style="background-color:#fbc821">
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Shoebox Parcellation Tool</a>
</nav>

	<div class="floor_plan" hidden>{{ name }}</div>
	<div class="lcaData" hidden>{{ lcaData }}</div>
	<br>
	<div class="container-fluid">
	<div class="row">
		<div class = ".col-md-1 offset-1">
		</div>
		<div class = ".col-md-7">
			<button id="reset" type="button" onclick="reset()" style="display: block;">Reset</button>
			<svg id="svg1" style="display: block;"></svg>
			<div class="control"></div>
		</div>
		<div class = ".col-md-1 offset-1"></div>
		<div class = ".col-md-2">
			<!--button id="select_shoeboxes" type="button" onclick="reset()" style="display: block;">Select Shoeboxes</button-->
			<h3>Selected Node(s)</h3><br>
			<div id="selected_nodes_list" style="word-wrap: break-word;">None yet...</div><br>
			<span style="font-weight:bold;">Room Type:</span><br>
			<p><input type="text" id="room_type"></p><br>
			
			<span style="font-weight:bold;">North Wall</span><br>
  			<div id="composition_N_val" style="font-weight:bold;">Support: 25% Infill: 50% Openings: 25%</div></span>
  			<div id="slider-range" class="composition_N"></div>
			<span>Support Material: <select id="support_N_mat"></select></span><br>
			<span>Infill Material: <select id="infill_N_mat"></select></span><br>
			<p>Opening Material: <select id="openings_N_mat"></select></p><br>
			
			<span style="font-weight:bold;">South Wall</span><br>
  			<div id="composition_S_val" style="font-weight:bold;">Support: 25% Infill: 50% Openings: 25%</div></span>
  			<div id="slider-range" class="composition_S"></div>
			<span>Support Material: <select id="support_S_mat"></select></span><br>
			<span>Infill Material: <select id="infill_S_mat"></select></span><br>
			<p>Opening Material: <select id="openings_S_mat"></select></p><br>
			
			<span style="font-weight:bold;">East Wall</span><br>
  			<div id="composition_E_val" style="font-weight:bold;">Support: 25% Infill: 50% Openings: 25%</div></span>
  			<div id="slider-range" class="composition_E"></div>
			<span>Support Material: <select id="support_E_mat"></select></span><br>
			<span>Infill Material: <select id="infill_E_mat"></select></span><br>
			<p>Opening Material: <select id="openings_E_mat"></select></p><br>
			
			<span style="font-weight:bold;">West Wall</span><br>
  			<div id="composition_W_val" style="font-weight:bold;">Support: 25% Infill: 50% Openings: 25%</div></span>
  			<div id="slider-range" class="composition_W"></div>
			<span>Support Material: <select id="support_W_mat"></select></span><br>
			<span>Infill Material: <select id="infill_W_mat"></select></span><br>
			<p>Opening Material: <select id="openings_W_mat"></select></p><br>
			<button id="ok" type="button" onclick="reset()" style="display: block;">Submit Changes</button>

		</div>
		<div class = ".col-md-1 offset-1"></div>
	</div>
	</div>
</body>

<script type="text/javascript">
	var data = JSON.parse(document.getElementsByClassName("floor_plan")[0].innerHTML)
	var lcaData = JSON.parse(document.getElementsByClassName("lcaData")[0].innerHTML)
	// var centroid = JSON.parse(document.getElementsByClassName("floor_plan")[0].innerHTML).centroid
	var intc = data.int
	//var control = document.getElementsByClassName("control")[0]
	var selected_nodes = []
	var assigned_nodes = []
	var color = d3.scaleOrdinal(d3.schemeCategory10);
	var t

	function addDB(cont){
		for (i = 0; i < Object.keys(lcaData.Name).length;i++){
			var opt = Object.keys(lcaData.Name)[i];
		    var el = document.createElement("option");
		    el.textContent = lcaData.Name[Object.keys(lcaData.Name)[i]];
		    el.value = opt;
		    cont.appendChild(el);
		}
	}

	support_N = document.getElementById("support_N_mat");infill_N = document.getElementById("infill_N_mat");openings_N = document.getElementById("openings_N_mat");
	support_S = document.getElementById("support_S_mat");infill_S = document.getElementById("infill_S_mat");openings_S = document.getElementById("openings_S_mat");
	support_E = document.getElementById("support_E_mat");infill_E = document.getElementById("infill_E_mat");openings_E = document.getElementById("openings_E_mat");
	support_W = document.getElementById("support_W_mat");infill_W = document.getElementById("infill_W_mat");openings_W = document.getElementById("openings_W_mat");

	addDB(support_N);addDB(infill_N);addDB(openings_N);
	addDB(support_S);addDB(infill_S);addDB(openings_S)
	addDB(support_E);addDB(infill_E);addDB(openings_E)
	addDB(support_W);addDB(infill_W);addDB(openings_W)

	$( function() {
    $( "#slider-range.composition_N" ).slider({
      range: true,
      min: 0,
      max: 100,
      values: [ 25, 75 ],
      slide: function( event, ui ) {
      var response = "Support: ".concat(String($( "#slider-range.composition_N" ).slider( "values", 0 )),"% ","Infill: " ,String($( "#slider-range.composition_N" ).slider( "values", 1 )-$( "#slider-range.composition_N").slider( "values", 0 )),"% ","Openings: ",String(100-$( "#slider-range.composition_N" ).slider( "values", 1 )),"%");
      	$("#composition_N_val").html(response);}});});
	
	$( function() {
    $( "#slider-range.composition_S" ).slider({
      range: true,
      min: 0,
      max: 100,
      values: [ 25, 75 ],
      slide: function( event, ui ) {
      var response = "Support: ".concat(String($( "#slider-range.composition_S" ).slider( "values", 0 )),"% ","Infill: " ,String($( "#slider-range.composition_S" ).slider( "values", 1 )-$( "#slider-range.composition_S").slider( "values", 0 )),"% ","Openings: ",String(100-$( "#slider-range.composition_S" ).slider( "values", 1 )),"%");
      	$("#composition_S_val").html(response);}});});
	
	$( function() {
    $( "#slider-range.composition_E" ).slider({
      range: true,
      min: 0,
      max: 100,
      values: [ 25, 75 ],
      slide: function( event, ui ) {
      var response = "Support: ".concat(String($( "#slider-range.composition_E" ).slider( "values", 0 )),"% ","Infill: " ,String($( "#slider-range.composition_E" ).slider( "values", 1 )-$( "#slider-range.composition_E").slider( "values", 0 )),"% ","Openings: ",String(100-$( "#slider-range.composition_E" ).slider( "values", 1 )),"%");
      	$("#composition_E_val").html(response);}});});
     
    $( function() {
    $( "#slider-range.composition_W" ).slider({
      range: true,
      min: 0,
      max: 100,
      values: [ 25, 75 ],
      slide: function( event, ui ) {
      	$("#composition_N_val").html(response);}});});



	const svg = d3.select('#svg1')
    .attr('width', window.innerWidth/2)
    .attr('height', window.innerHeight/1.5)
    .style('background-color', 'black')
    .call(d3.zoom().on("zoom", function () {
    			t = d3.event.transform;
    			//console.log('act',"translate("+t.x+","+t.y+") scale("+t.k+")");
    			t_x = t.x+window.innerWidth/4; t_y=t.y+window.innerHeight/3; t_k =t.k+5;
    			//console.log('ed',"translate("+t_x+","+t_y+") scale("+t_k+")");
              svg.attr("transform", "translate("+t_x+","+t_y+") scale("+t_k+")");
      }))
      .append("g");


   	d3.select('#svg1').on("load", function () {svg.attr("transform", "translate("+window.innerWidth/4+","+window.innerHeight/3+") scale("+5+")");}).append("g")

   	function reset() {
   		svg.attr("transform", "translate("+window.innerWidth/4+","+window.innerHeight/3+") scale("+5+")")
   	}
    
    function addLine(x1,y1,x2,y2,svg,i,j,selected_line){
	svg.append("line")
	.style("stroke", "lightgreen")
	.style("stroke-width", 0.1)
	.attr("x1", x1)
	.attr("y1", y1)
	.attr("x2", x2)
	.attr("y2", y2)
	.attr("id", 'line'+String(i)+"-"+String(j))
	.on("click", function(){addLineControl(String(i)+"-"+String(j));d3.select("#line"+String(i)+"-"+String(j)).style("stroke-width",1).style("stroke","red")});
	};

	function addCircle(x1,y1,svg,i){
	svg.append("circle")
	.style("fill","blue")
	.attr("cx",x1)
	.attr("cy",y1)
	.attr("r",0.5)
	.attr("id", 'cen'+String(i))
	.text("-")
	.on("click", function(){
		addNodeControl(i);});

	svg.append("text")
	.style("fill","white")
	.attr("x",x1)
	.attr("y",y1)
	.attr("font-size","0.05em")
	.attr("id",'centext'+String(i))
	.text("-")	
	
	}

	function addInt(x1,y1,x2,y2,svg,i,c){
	svg.append("line")
	.style("stroke", c(i))
	.style("stroke-width", 0.1)
	.attr("x1", x1)
	.attr("y1", y1)
	.attr("x2", x2)
	.attr("y2", y2)
	.attr("id", 'int'+String(i))
	.on("click", function(){console.log("clicked");d3.select("#int"+String(i)).style("stroke-width",1)});
	};

	function addNodeControl(id){
		if (selected_nodes.includes(id) == false){
			selected_nodes.push(id)
			d3.select("#cen"+String(id)).attr("r",1);
			d3.select("#line"+String(id)+"-"+String(0)).style("stroke-width",0.2).style("stroke","red").raise()
			d3.select("#line"+String(id)+"-"+String(1)).style("stroke-width",0.2).style("stroke","red").raise()
			d3.select("#line"+String(id)+"-"+String(2)).style("stroke-width",0.2).style("stroke","red").raise()
			d3.select("#line"+String(id)+"-"+String(3)).style("stroke-width",0.2).style("stroke","red").raise()
		}
		else{
			var removeItem = id;
			selected_nodes = jQuery.grep(selected_nodes, function(value) {return value != removeItem;});
			d3.select("#cen"+String(id)).attr("r",0.5);
			d3.select("#line"+String(id)+"-"+String(0)).style("stroke-width",0.1).style("stroke","lightgreen").raise()
			d3.select("#line"+String(id)+"-"+String(1)).style("stroke-width",0.1).style("stroke","lightgreen").raise()
			d3.select("#line"+String(id)+"-"+String(2)).style("stroke-width",0.1).style("stroke","lightgreen").raise()
			d3.select("#line"+String(id)+"-"+String(3)).style("stroke-width",0.1).style("stroke","lightgreen").raise()
		}
		$("#selected_nodes_list").html(selected_nodes.join())
		if ($("#selected_nodes_list")[0].innerHTML == ""){$("#selected_nodes_list")[0].innerHTML = "None yet..."}

	}

	function sub(e){
		console.log(e);
	}

	for (i=0; i<data.nodes.length; i++){
		centroid = data.nodes
		addCircle(centroid[i].center[0],-centroid[i].center[1],svg,centroid[i].id)
		for (j=0; j<centroid[i].walls.length-1; j++){
			addLine(centroid[i].walls[j][0],-centroid[i].walls[j][1],centroid[i].walls[j+1][0],-centroid[i].walls[j+1][1],svg,centroid[i].id,j)
		};};

	//for (k=0; k<intc.length; k++){
	//	addInt(intc[k][0][0],-intc[k][0][1],intc[k][1][0],-intc[k][1][1],svg,k,color)
	//}




</script>
</html>